<!doctype html>
<html>
    <head>
        <title>{% block title %}Default title{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    </head>
    <body>
        {% block content %}Default content{% endblock %}
        <script src="assets/js/jquery.min.js" type="text/javascript"></script>
        <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
    </body>
</html>
