<!doctype html>
<html>
    <head>
        <title>{% block title %}Default title{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    </head>
    <body>
        {% block content %}Default content{% endblock %}
    </body>
</html>
