/*
    Original CSS taken from http://evenbettermotherfucking.website
 */

body {
    margin: 2% auto;
    background: #f2f2f2;
    color: #444444;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    text-shadow: 0 1px 0 #ffffff;
    min-width: 768px;
    max-width: 50%;
    padding: 1em;
}

code {
    background: white;
}

a {
    border-bottom: 1px solid #444444;
    color: #444444;
    text-decoration: none;
}

a:hover {
    border-bottom: 0;
}

h1, h2 {
    line-height: 1.3;
}
ul li {
    padding-bottom: 5px;
}