{% extends 'base.html.twig' %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Yay, it works!</h1>
        <hr/>
        <h3>Example pages</h3>
        <ul>
            <li>
                <a href="/greet/michael">http://localhost:8080/greet/michael</a>
            </li>
            <li>
                <a href="/exception">http://localhost:8080/exception</a>
            </li>
        </ul>
    </div>
{% endblock %}
